*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background: #A3FFD6;
    
}

.head{
    background-color:transparent;
}
.head h1{
    padding-bottom: 15px;
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    color: #A3FFD6;
    background: #8576FF;

}

.container{
    width: 100%;
    min-height: 100vh;
    /* background: A3FFD6; */
    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #8576FF;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}


.inputb{
    background: #7BC9FF;
    outline: none;
    border: 0px solid;
    font-size: 16px;
    width: 500px;
    height: 35px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7BC9FF;
    border-radius: 30px;
    padding-left:20px ;
    margin-bottom:25px;
    border: white 2px solid;
}

.input{
    flex: 1;
    border: none;
    outline:none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #7BC9FF;
    color:white;
    font-size:  16px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
}


ul li{
    list-style: none;
    font-size: 20px;
    
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-weight: bolder;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
    
}

ul li.checked{
    color: black;
    text-decoration: line-through;
    font-weight: bold;
    

}
ul li.checked::before{
    background-image: url(checked.png);
    
}

ul li span {
    position: absolute;
    right: 13px;
    top: 8px;
    font-size: 32px;
    color: white;
    background-color: #1C1678;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

ul li span:hover{
    
    transform: scale(1.3);
    color: white;

}
ul{
    background: transparent;
}
ul li{
    border-radius: 10px;
    background-color: #1C1678;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #1C1678;
   
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.footerr {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px; /* width of the scrollbar */
  }
  

